html{
  font-size: 63%;
  box-sizing: border-box;
}
body, #root{
  height: 100vh;
  margin: 0;
}

body, input select, button, textarea{
  font-size: 1.6rem;
  font-family:Arial, Helvetica, sans-serif;
}

.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 6rem 1fr 5rem;
  grid-template-columns: 1fr;
  height:  100%;
}
a{
  text-decoration: none;
}

a:hover{
  color: rgb(235, 209, 14);
}

header{
  grid-area: header;
  background-color: rgb(10, 3, 17);
  color: aliceblue;
  display: flex;
  align-items: center;
  padding: .5rem;
  justify-content: space-between;
}

.search{
  font-size: 20px;
  padding-left: 20px;
  margin-left: 35%;
  padding-bottom: 10px;
}

header button{
  padding: 6px;
  margin-left: 10px;
  color: aliceblue;
  background-color: transparent;
  border-radius: 10px;
  border: 0.1rem black solid;
}

header button:hover{
  border: 0.1rem yellow solid;
  color: yellow;
}

header a{
  color: aliceblue;
  text-decoration: none;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
  background-color: rgb(14, 5, 5);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  display: flex;
  flex-wrap: wrap;
}

.main{
  flex: 3 60rem;
}

.sidebar{
  flex: 1 20rem;
}

/*products*/

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li{
  flex: 0 1 29rem;
  height: 50rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.1rem black solid;
  height: 100%;
}

.product img{
  width: 100%;
  max-height: 37rem;
}
.product p{
  text-align: center;
  color: black;
  font-family:inherit;
  font-size: 15px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div{
  text-align: center;
  flex: 1;
}

.product-price div{
  font-size: 2rem;
}

.product-price button{
  border: none;
  background-color: transparent;
}

.far.fa-heart, .fas.fa-heart{
  font-size: 25px;
  margin-bottom: 10px;
  margin-right: 10px;
  color: red;
}

/*LogIn*/

.login{
  width: 30%;
  margin-left: 35%;
  background-color: rgb(52 62 62 / 24%);
  padding-top: 2%;
  margin-top: 2%;
  border-radius: 15px;
}
.login ul{
  padding:0px;
}

.login form {
  padding-left: 25px;
  text-align: left;
}
.login li label{
  padding-right: 15px;
}
.login li input{
  justify-content: center;
}

.login li{
  list-style-type: none;
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login button{
  border-radius: 10px;
  background-color: transparent;
  padding: 7px;
  margin-bottom: 15px;
}

/*One product*/
.modal-product{
  margin-top: 2%;
  width: 90%;
  margin-left: 5%;
  background-color: rgb(245, 209, 161);
  border-radius: 20px;
  padding-top: 1%;
}
.modal-product .title{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-align: center;
}

.image {
  display: inline-flex;
  padding-left: 1rem;
}

.modal-product .image img{
  max-width: 47rem;
  max-height: 47rem;
  border-radius: 10px;
}
.image .size-product{
  display: block;
  margin-left: 45px;
}
.modal-product p{
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
}

.modal-product .image .size-product span{
  font-size: 18px;
  font-weight: bold;
}

.modal-product .image .size-product ul{
  display: inline-flex;
  list-style-type: none;
  margin-bottom: 70px;
}

.modal-product .image .size-product li{
  background-color: black;
  color: aliceblue;
  font-size: 18px;
  padding: 8px;
  margin-right: 10px;
}
.modal-product .image .size-product button{
  display: block;
}

.modal-product .description{
  display: block;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 50%;
  padding-left: 1rem;
  padding-bottom: 1%;
}
.modal-product .description p{
  text-align: center;
}

.modal-product button{
  border: none;
  background-color: transparent;
}

.modal-product .far.fa-heart, .modal-product  .fas.fa-heart{
  font-size: 60px;
  color: red;
}
.back button{
  margin-left: 1rem;
  background-color: black;
  border: none;
  padding: 5px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: aliceblue;
}